body {
    margin-bottom: 80px;
}


.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.featureImg {
    margin-bottom: 15px;
}

.zeleni, .zeleni:hover {
    background-color: green;
}

.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.jumbotron {
    background-color: black;
    height: 380px;
    font-family: sans-serif;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}

#build {
    color: white;
}

#sign {
   
